<!DOCTYPE html>
<html>
<head>
    <title>Digital Doodles - Main Screen</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main_responsive.css">
    <link rel="shortcut icon" href="/static/background/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="section">
    <div class="container-fluid">
        <!--       
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mt-5">How was your event experience?</h1>
            </div>
        </div>
        -->
        <div id="doodleDisplay" class="row justify-content-center">
            <!-- Placeholder for displaying latest doodle images -->
        </div>
    </div>

    <div class="full-screen-container" id="fullScreenContainer">
        <img id="fullScreenImage" src="" alt="Full Screen Image">
    </div>
</div>
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/screen.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
